*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.header{
    margin-top: 2em;
    text-align: center
}
.formContainer{
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: #fff;
    margin-top: 2rem;
    width: 20rem;
    height: 30rem;
}
.formstyle{
    background: #E9E9E9;
    width: 80%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-weight: 200;
}

.formContainer button{
    background-color:#ff6347 ;
    color: #fff;
}
.formContainer button:hover{
    cursor: pointer;
}
img{
    width: 100%;
}

p>a{
    color: #ff6347;
    text-decoration: none;
}

.formContainer--register{
    color: #b3b3b3;
    font-size: 0.8rem;
}

form>span{
    font-size: 0.8rem;
    color: #ff6347;
    margin: 2px 0;
    text-align: left;
}

#thumbnail{
    width: 33%;
}

.shadow{
    box-shadow: 5px 5px 20px #ececec;
}

.form--button{
    font-weight: 500;
}

.form--button:hover{
    box-shadow: 0px 0px 20px #ff765d;
}

.active { font-weight: bolder; }

.page{
    color: #ff6347;
    font-weight: 500;
}

.linkPosition{
    position: absolute;
    right: 54px;
    bottom: 10px;
}

.form--button--secondary{
    font-weight: 500;
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #ff6347;
    -webkit-transition: 1s;
}

.form--button--secondary:hover, .form--button--secondary:active{

    -webkit-transition: 1s;
    color: #fff !important;
    background-color: #ff6347 !important;
    
}
